@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  background-color: #000000;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 252px;
  max-width: 1440px;
  color: #ffffff;
  margin: 0 auto;
  position: relative;
  &::before {
    content: "";
    background-color: rgba(#1f2021, 0.79);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__container {
    position: relative;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
  }
  &__left-elements {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__nav {
    margin: 0 120px 7px;
    min-width: 405px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
  }
  &__phone {
    font-size: 24px;
    font-weight: 700;
  }
  &__found-text {
    font-size: 38px;
    font-weight: 700;
    margin: 6px 0 6px -2px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
}

.catalog {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 47px;
    position: relative;
    &::before {
      content: "";
      background-image: url(../img/icons/up-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      position: absolute;
      background-color: #6ebbd3;
      bottom: 1px;
      right: 51px;
      width: 59px;
      height: 59px;
      cursor: pointer;
    }
    &:hover::before {
      background-color: rgba($color: #6ebbd3, $alpha: 0.8);
    }
  }
  &__sorting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 37px 0px;
    align-self: flex-start;
  }
}
.sorting__by-item + .sorting__by-item {
  margin-left: 48px;
}
.sorting {
  &__by-item {
    margin-left: -2px;
    &--bold {
      font-weight: 700;
    }
  }
  &__text {
    margin-right: 16px;
  }
  &__icon {
    vertical-align: middle;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    position: relative;
    max-width: 380px;
    background-color: #f3f3f3;
    margin-bottom: 24px;
    .fa-heart::after {
      content: "";
      position: absolute;
      background-image: url(../img/icons/like.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 46px;
      height: 46px;
      z-index: 3;
      top: 34px;
      right: 32px;
      cursor: pointer;
    }
    .fa-heart:hover::after {
      background-image: url(../img/icons/like--is-active.svg);
    }
    &--before::before {
      content: "-40%";
      position: absolute;
      font-size: 16px;
      color: #ffffff;
      top: 34px;
      left: 38px;
      z-index: 5;
      background-color: #e52d2d;
      min-width: 78px;
      min-height: 39px;
      text-align: center;
      padding: 10px 0px;
      border-radius: 10px;
    }
  }

  &__content {
    padding: 25px 28px 22px 29px;
  }
  &__title {
    margin: 0 0 21px;
    font-size: 24px;
    font-weight: 700;
  }
  &__description {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-left: 22px;
    margin-bottom: 21px;
    &::before {
      content: "";
      height: 26px;
      width: 4px;
      position: absolute;
      background-color: #6ebbd3;
      top: 3px;
      left: -22px;
    }
    &-item {
      font-size: 12px;
      & + & {
        margin-left: 31px;
        margin-right: 19px;
      }
    }
  }
  .flex--column {
    display: flex;
    flex-direction: column;
  }
  .count {
    font-size: 16px;
    font-weight: 700;
  }
  &__price-text {
    font-weight: 700;
    font-size: 24px;
  }
  &__btn {
    width: 100%;
    border: none;
    padding: 21px 0px 24px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 7px;
    background-color: #6ebbd3;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    &:not(.is-disabled):hover {
      background-color: rgba($color: #6ebbd3, $alpha: 0.8);
    }
  }
}
.btn {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.more-items__btn {
  border-radius: 10px;
  border: 1px solid #cacaca;
  width: 380px;
  padding: 22px 0px 23px;
  background-color: #ffffff;
  margin-top: 46px;
  margin-bottom: 35px;
  font-size: 14px;
}
.is-disabled {
  background-color: #000000;
}
.footer {
  &__container {
    background-color: #1f2021;
    color: #ffffff;
    padding: 85px 78px 89px 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 114px;
  }
  &__left-elements {
    max-width: 370px;
  }
  &__right-elements {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    min-width: 564px;
    .right-elements__top {
      input,
      button {
        padding: 23px;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
      }
      input {
        min-width: 300px;
        padding-left: 30px;
      }
      button {
        min-width: 250px;
        margin-left: 13px;
        font-weight: 700;
        color: #ffffff;
        background-color: #6ebbd3;
        &:hover {
          background-color: rgba($color: #6ebbd3, $alpha: 0.8);
        }
      }
    }
    .right-elements__bottom {
      margin-top: 19px;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  &__discription {
    font-size: 28px;
    line-height: 29px;
  }
}

.check {
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  &__box {
    position: absolute;
    margin-top: 4px;
    margin-left: -30px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  &__input:checked + &__box {
    background-color: #6ebbd3;
    background-image: url(../img/icons/check-mark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  &__input:focus + &__box {
    box-shadow: 0 0 0 2px#6ebbd3;
  }
  &__input:checked:focus + &__box {
    box-shadow: 0 0 0 2px #ffffff;
  }
  &__input:disabled + &__box {
    background-color: #9b9b9b;
  }
}
