@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  background-color: #000000;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 252px;
  max-width: 1440px;
  color: #ffffff;
  margin: 0 auto;
  position: relative;
}

.header::before {
  content: "";
  background-color: rgba(31, 32, 33, 0.79);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header__container {
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0px;
}

.header__left-elements {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 120px;
  min-width: 405px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 15px;
  min-width: 185px;
}

.header__phone {
  font-size: 24px;
  font-weight: 700;
}

.header__phone-icon {
  display: none;
}

.header__found-text {
  font-size: 38px;
  font-weight: 700;
  margin: 6px 0 6px -2px;
}

.logo {
  width: 78px;
}

.logo img {
  width: 100%;
}

.header__burger {
  display: none;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list__item {
  position: relative;
  margin: 10px;
}

.list__item-link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #6ebbd3;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
}

.list__item-link:hover {
  color: #6ebbd3;
}

.list__item-link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.list__item-link:focus {
  color: #6ebbd3;
  outline: none;
}

.catalog__container {
  margin-bottom: 47px;
  position: relative;
}

.catalog__container .up-btn {
  position: absolute;
  background-color: #6ebbd3;
  background-image: url(../img/icons/up-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 1px;
  right: 51px;
  width: 59px;
  height: 59px;
  cursor: pointer;
}

.catalog__container .up-btn:hover,
.catalog__container .up-btn:focus {
  background-color: rgba(24, 60, 78, 0.8);
  outline: none;
}

.catalog__sorting {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 37px 0px;
  align-self: flex-start;
}

.sorting__by-item + .sorting__by-item {
  margin-left: 48px;
}

.sorting__by-item {
  margin-left: -2px;
  position: relative;
}

.sorting__by-item--bold {
  font-weight: 700;
}

.sorting__text {
  margin-right: 16px;
}

.sorting__icon {
  vertical-align: middle;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sorting__choose-box {
  position: absolute;
  padding: 5px 0px;
  background-color: #f3f3f3;
  border-radius: 4px;
  right: -10px;
  min-width: 170px;
  z-index: 3;
}

.sorting__by-btn {
  width: 100%;
  font-size: 16px;
  color: #183c4e;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 5px 0px 5px 10px;
  text-align: left;
}

.sorting__by-btn .radio__input:checked + .radio__text {
  font-weight: 700;
}

.sorting__by-btn:hover {
  background-color: #183c4e;
  color: #ffffff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: -20px;
}

.products__item {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 380px;
  background-color: #f3f3f3;
  margin: 0 20px 24px 0;
}

.products__item img {
  width: 100%;
}

.products__item--before::before {
  content: "-40%";
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  top: 34px;
  left: 38px;
  z-index: 5;
  background-color: #e52d2d;
  min-width: 78px;
  min-height: 39px;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
}

.products__content {
  padding: 25px 28px 22px 29px;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.products__title {
  margin: 0 0 21px;
  font-size: 24px;
  font-weight: 700;
}

.products__description {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 21px;
}

.products__description::before {
  content: "";
  height: 26px;
  width: 4px;
  position: absolute;
  background-color: #6ebbd3;
  top: 3px;
}

.products__description-item {
  font-size: 12px;
}

.products__description-item .block {
  display: block;
}

.products__description-item:first-child {
  margin-right: 31px;
}

.products__description-item:first-child span {
  display: block;
  margin-left: 22px;
}

.products__description-item:last-child {
  margin-left: 45px;
}

.products .count-age,
.products .count {
  font-size: 16px;
  font-weight: 700;
  display: block;
}

.products__price-text {
  font-weight: 700;
  font-size: 24px;
}

.products__btn {
  width: 100%;
  padding: 21px 0px 24px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 7px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

.products__btn:not(.is-disabled):hover,
.products__btn:focus {
  background-color: #183c4e;
  outline: none;
}

.like-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  background-image: url(../img/icons/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 46px;
  height: 42px;
  top: 34px;
  right: 32px;
  cursor: pointer;
}

.like-btn:hover {
  background-image: url(../img/icons/like--is-hover.svg);
}

.like-btn:focus {
  background-image: url(../img/icons/like--is-focus.svg);
  outline: none;
}

.like-btn--is-active,
.like-btn--is-active:hover {
  background-image: url(../img/icons/like--is-active.svg);
}

.like-btn--is-active:focus {
  background-image: url(../img/icons/like--is-active-focus.svg);
  outline: none;
}

.like-btn + .like-btn__text-after {
  display: none;
}

.like-btn--is-active + .like-btn__text-after {
  display: block;
  position: absolute;
  background-color: #f3f3f3;
  color: #183c4e;
  border-radius: 5px;
  width: 150px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  opacity: 0;
  right: 10px;
  top: 90px;
  -webkit-animation: fade 2s linear;
          animation: fade 2s linear;
}

.btn {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background-color: #6ebbd3;
  border: none;
}

.width--100 {
  width: 100%;
}

.more-items__btn {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #cacaca;
  width: 380px;
  padding: 22px 0px 23px;
  background-color: #ffffff;
  margin-top: 46px;
  margin-bottom: 35px;
  font-size: 14px;
}

.is-disabled {
  background-color: #000000;
}

.footer__container {
  background-color: #1f2021;
  color: #ffffff;
  padding: 85px 78px 89px 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 114px;
}

.footer__left-elements {
  max-width: 370px;
}

.footer__right-elements {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  min-width: 564px;
}

.footer__right-elements .right-elements__top input,
.footer__right-elements .right-elements__top button {
  padding: 23px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.footer__right-elements .right-elements__top input {
  min-width: 300px;
  padding-left: 30px;
}

.footer__right-elements .right-elements__top button {
  min-width: 250px;
  margin-left: 13px;
  font-weight: 700;
  color: #ffffff;
}

.footer__right-elements .right-elements__top button:hover,
.footer__right-elements .right-elements__top button:focus {
  background-color: #183c4e;
  outline: none;
}

.footer__right-elements .right-elements__bottom {
  margin-top: 19px;
}

.footer__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__discription {
  font-size: 28px;
  line-height: 29px;
}

.check {
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.check__box {
  position: absolute;
  margin-top: 4px;
  margin-left: -30px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #ffffff;
}

.check__input:checked + .check__box {
  background-color: #6ebbd3;
  background-image: url(../img/icons/check-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.check__input:focus + .check__box {
  box-shadow: 0 0 0 2px #6ebbd3;
}

.check__input:checked:focus + .check__box {
  box-shadow: 0 0 0 2px #ffffff;
}

.check__input:disabled + .check__box {
  background-color: #9b9b9b;
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  to {
    opacity: 0;
  }
}

@media all and (max-width: 1280px) {
  .header__found-text {
    font-size: 3vw;
  }

  .header__phone {
    font-size: 1.8vw;
  }

  .header__contacts {
    margin-top: 0;
  }

  .header {
    min-height: 200px;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 1279px) {
  .products {
    justify-content: center;
  }

  .products__item {
    max-width: 320px;
  }

  .like-btn {
    width: 40px;
    height: 36px;
    top: 29px;
    right: 28px;
    background-size: contain;
  }

  .products__description {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .products__description-item {
    font-size: 15px;
  }

  .products__description-item .block {
    display: block;
  }

  .products__description-item:first-child {
    margin-left: 22px;
    flex-basis: 100%;
    margin-bottom: 10px;
    margin-top: 6px;
  }

  .products__description-item:first-child span {
    display: inline-block;
    margin-left: 0px;
  }

  .products__description-item:last-child {
    margin-left: 45px;
  }
}

@media all and (max-width: 1250px) {
  .footer__title {
    font-size: 3.5vw;
  }

  __left-elements {
    max-width: 40%;
  }

  .footer__right-elements {
    min-width: 60%;
  }

  .footer__right-elements .right-elements__top input {
    min-width: 50%;
    padding-left: 30px;
    margin-bottom: 20px;
  }

  .footer__right-elements .right-elements__top button {
    min-width: 40%;
  }
}

@media all and (max-width: 1150px) {
  .footer__container {
    padding: 75px;
  }

  .footer__discription {
    font-size: 20px;
    line-height: 22px;
    width: 90%;
  }

  .footer__right-elements {
    min-width: 55%;
  }

  .footer__right-elements .right-elements__top input {
    min-width: 80%;
    margin-left: 0;
  }

  .footer__right-elements .right-elements__top button {
    min-width: 60%;
    margin-left: 0px;
  }
}

@media all and (max-width: 1100px) {
  .products__item {
    max-width: 280px;
  }

  .products__title {
    margin: 0px 0 10px;
  }

  .products__item--before::before {
    top: 10px;
    left: 10px;
    min-width: 67px;
  }

  .like-btn {
    width: 36px;
    top: 12px;
    right: 12px;
  }
}

@media all and (max-width: 1000px) {
  .header {
    min-height: 150px;
  }

  .contacts__text {
    display: none;
  }

  .header__contacts {
    min-width: 100px;
  }

  .header__phone {
    display: none;
  }

  .header__phone-icon {
    display: block;
    margin-top: 3px;
  }
}

@media all and (max-width: 850px) {
  .footer__title {
    font-size: 30px;
  }

  .footer__container {
    padding: 55px;
    flex-direction: column;
  }

  .footer__discription {
    margin-bottom: 30px;
  }
}

@media all and (max-width: 800px) {
  .container {
    padding: 0 30px;
  }

  .header__left-elements {
    display: block;
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    width: 10vw;
  }

  .header__burger {
    display: block;
    position: absolute;
    right: 5%;
    top: 29%;
  }

  .header__nav {
    position: absolute;
    right: -100%;
    overflow-x: hidden;
    top: 120px;
    min-width: 100px;
    width: 40vw;
    z-index: 10;
    transition: 0.3s ease 0s;
  }

  .header__nav.header__burger--is-active {
    right: 0px;
  }

  .list {
    flex-direction: column;
    background-color: #000000;
  }

  .header__contacts {
    position: absolute;
    right: -100%;
    transition: 0.3s ease 0s;
  }

  .header__contacts.header__burger--is-active {
    right: 0px;
  }

  .header__phone {
    display: block;
    font-size: 18px;
    position: absolute;
    width: 220px;
    top: 28px;
    right: 40px;
    text-align: right;
  }

  .header__phone-icon {
    position: absolute;
    right: 20px;
    top: 26px;
    width: 15px;
  }

  .header__phone-icon img {
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .more-items__btn {
    width: 220px;
    padding: 15px 0;
    margin-top: 0px;
  }

  .catalog__container .up-btn {
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
  }
}

@media all and (max-width: 600px) {
  .header__found-text {
    font-size: 18px;
  }

  .logo {
    width: 52px;
  }

  .header__nav {
    top: 110px;
    width: 50vw;
  }

  .catalog__sorting {
    margin: 25px 0px;
  }

  .footer__right-elements .right-elements__top input {
    min-width: 100%;
    margin-left: 0;
  }

  .footer__right-elements .right-elements__top button {
    min-width: 80%;
    margin-left: 0px;
  }
}

@media all and (max-width: 550px) {
  .sorting__by-item:first-child {
    flex-basis: 100%;
  }

  .sorting__by-item + .sorting__by-item {
    margin-left: 25px;
    margin-top: 10px;
  }

  .sorting__text {
    margin-right: 5px;
  }

  .sorting__icon {
    padding: 0px;
  }
}

@media all and (max-width: 480px) {
  .header__top {
    padding: 7px 0;
  }

  .header__burger {
    top: 17%;
  }

  .header__found {
    margin-top: 21px;
  }

  .header__nav {
    top: 88px;
  }

  .catalog__sorting {
    font-size: 18px;
  }

  .products__content {
    padding: 20px;
  }

  .products__title {
    margin: 0 0 11px;
    font-size: 18px;
  }

  .products__btn {
    margin-top: 0px;
  }

  .footer__container {
    padding: 20px;
  }

  .footer__title {
    font-size: 25px;
  }

  .footer__discription {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .footer__right-elements .right-elements__top input {
    min-width: 90%;
    padding: 13px 13px 13px 21px;
    margin-bottom: 15px;
  }

  .footer__right-elements .right-elements__top button {
    min-width: 70%;
    padding: 20px;
  }

  .footer__container {
    padding: 15px;
  }

  .footer__title {
    font-size: 25px;
  }

  .footer__discription {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .footer__right-elements .right-elements__top input {
    min-width: 100%;
    padding: 10px 10px 10px 15px;
  }

  .footer__right-elements .right-elements__top button {
    padding: 10px;
  }
}

@media all and (max-width: 320px) {
  .header__nav {
    width: 100vw;
  }

  .products__content {
    padding: 12px;
  }
}
@supports (-webkit-appearance:none){
.header{background-image:url(../img/bg-header.webp)}
.catalog__container .up-btn{background-image:url(../img/icons/up-arrow.svg)}
.like-btn{background-image:url(../img/icons/like.svg)}
.like-btn:hover{background-image:url(../img/icons/like--is-hover.svg)}
.like-btn:focus{background-image:url(../img/icons/like--is-focus.svg)}
.like-btn--is-active,.like-btn--is-active:hover{background-image:url(../img/icons/like--is-active.svg)}
.like-btn--is-active:focus{background-image:url(../img/icons/like--is-active-focus.svg)}
.check__input:checked + .check__box{background-image:url(../img/icons/check-mark.svg)}
}

 @media all and (max-width: 1280px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 1279px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 1250px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 850px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media all and (max-width: 320px){

@supports (-webkit-appearance:none){

}

}
